@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap" rel="stylesheet');
* {
	margin: 0;
	padding: 0;
	font-family: 'Gayathri', sans-serif;
	font-size: 20px;
}
body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0 20px 0 20px;
}

main {
	padding: 20px;
	text-align: center;
}
footer {
	background-color: white;
	padding: 10px;
	color: #7c7d80;
	text-align: center;
}
h1 {
	margin: 0;
	font-size: 24px;
}
hr {
	border-color: rgb(227, 227, 227);
	border-width: 1px;
}
